head, body, footer {
  text-align: center;
    font-family: Calibri;
  color: #000000;
  border: medium solid #000000;
  margin: 30px;
}

.textContainer {
  color: #4E003F;
  background-color: #9B9D9C;
    border: medium solid #000000;
  margin: 30px;
}

.headingContainer {
    background-color: #0886A9;
    border: medium solid #000000;
  margin: 30px;
}

div {
  margin: 30px;
  padding-top: 50px;
  padding-right: 30px;
  padding-left: 30px;
  padding-bottom: 50px;
  height: auto;
}
/* Button Stylization */
a:link {
color: #03045e;
}
a:visited {
color: #d62828;
}
a:hover {
color: #7209b7;
}
a:active {
color: #8ac926;
}

