head, body, footer {
  text-align: center;
    font-family: Calibri;
  color: #000000;
  border: medium solid #000000;
  margin: 30px;
}

.textContainer {
  background-color: #9B9D9C;
}

.headingContainer {
    background-color: #0886A9;  
}
